@page
@model FBK74App.Pages.Auth.LoginModel
@{
    // Layout = null;
         ViewData["Title"] = "Đăng nhập";
}

    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0 m-auto w-50">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Người dùng đăng nhập</p>
                            <form method="post">
                                    <div class="mb-3">
                                    <label asp-for="@Model.UserName" for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
                                    <input style="color: black !important; border: 1px solid gray" asp-for="@Model.UserName" type="text" placeholder="Vui lòng nhập tên đăng nhập" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <span class="form-text text-danger" asp-validation-for="@Model.UserName"></span>

                                </div>
                                    <div class="mb-4">
                                    <label asp-for="@Model.Password" for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                                    <input asp-for="@Model.Password" type="password" style="color: black !important; border: 1px solid gray" placeholder="Vui lòng nhập mật khẩu" class="form-control" id="exampleInputPassword1">
                                    <span class="form-text text-danger" asp-validation-for="@Model.Password"></span>
                                </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                    @if (TempData["Message"] != null)
                                    {
                                        <span class="text-danger">@TempData["Message"]</span>
                                    }
                                </div>
                                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng nhập</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="text-primary fw-bold ms-2" asp-area="" asp-page="/Auth/Register">Đăng ký?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>