@page
@model FBK74App.Pages.Auth.RegisterModel
@{
    //Layout = null;
    ViewData["Title"] = "Đăng kí";
}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0 w-50 m-auto">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Đăng ký tài khoản</p>
                                <form method="post">
                                    <div class="mb-3">
                                    <label asp-for="@Model.Username" for="exampleInputtext1" class="form-label">Tên đăng nhập</label>
                                    <input asp-for="@Model.Username" style="color: black !important; border: 1px solid gray; " placeholder="Vui lòng nhập tên đăng nhập..." type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                    <span class="form-text text-danger" asp-validation-for="@Model.Username"></span>

                                </div>
                                    <div class="mb-3">
                                    <label asp-for="@Model.Email" for="exampleInputEmail1" class="form-label">Địa chỉ Email</label>
                                    <input asp-for="@Model.Email" style="color: black !important; border: 1px solid gray" type="email" placeholder="Vui lòng nhập email..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <span class="form-text text-danger" asp-validation-for="@Model.Email"></span>
                                </div>
                                    <div class="mb-4">
                                    <label asp-for="@Model.Password" for="exampleInputPassword1" class="form-label">Mật Khẩu</label>
                                    <input asp-for="@Model.Password" style="color: black !important; border: 1px solid gray" type="password" placeholder="Vui lòng nhập mật khẩu..." class="form-control" id="exampleInputPassword1">
                                    <span class="form-text text-danger" asp-validation-for="@Model.Password"></span>
                                </div>
                                @if (TempData["Message"] != null)
                                {
                                    <span class="text-danger">@TempData["Message"]</span>
                                }
                                @if (TempData["Success"] != null)
                                {
                                    <span class="text-success">@TempData["Success"]</span>
                                }
                                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="text-primary fw-bold ms-2" asp-page="/Auth/Login">Đăng nhập?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
